<table class="table table-striped table-bordered table-hover">
  <thead class="table-dark">
    <tr>
      <th>
        Name
      </th>
      <th>
        <%= link_to "Email", :sort => "email"%>
      
      </th>
      <th>
        <%= link_to "Phone",  :sort => "phone"%>
      </th>
      <th>
        <%= link_to "Facebook", :sort => "facebook"%>
      </th>
      
  </thead>

  <tbody>
    <% @friends.each do |friend| %>
    <% if friend.user == current_user%>
      <tr>
        <td><%= link_to friend.first_name + " " + friend.last_name, friend %>
        
            </td>
        <td><%= friend.email %></td>
        <td><%= friend.phone %></td>
        <td><%= friend.facebook %></td>
    

      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>