<h1>New user</h1><br/>

<%= form_with model:@users do |f| %>
  <%# if @users.errors.any? %>
<!--    <div id="error_explanation">-->
<!--      <h2><%#= pluralize(friend.errors.count, "error") %> prohibited this friend from being saved:</h2>-->

<!--      <ul>-->
        <%# @users.errors.full_messages.each do |message| %>
<!--          <li><%#= message %></li>-->
        <%# end %>
<!--      </ul>-->
<!--    </div>-->
  <%# end %>
  <div class="field form-group">
  <div class="field">
    <%= f.label :email %><br/>
  <%= f.text_field :email, placeholder:"email" %>
  </div>
  <div class="field">
  <%= f.label :firstname %><br/>
  <%= f.text_field :firstname, placeholder:"First name" %>
  </div>
  <div class="field">
  <%= f.label :lastname %><br/>
  <%= f.text_field :lastname, placeholder:"Last name" %>
  </div>
  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", placeholder:"password" %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder:"confirm password" %>
  </div><br/>
  <%= f.submit class:"btn btn-dark" %>
  <% end %>
</div>






