

<div class="jumbotron jumbotron-fluid">
  <div class="container py-5 bg-light">
  <h1 class="display-5"> <%= @friend.first_name %>
   <%= @friend.last_name %> </h1>
  <p class="lead"><%= @friend.email %> | <%= @friend.phone %> | <%= @friend.facebook %> </p>
  <hr class="my-5">
 <br/> 

  <%= link_to 'Edit', edit_friend_path(@friend), class:"btn btn-secondary" %> 
  <%= link_to 'Delete', @friend, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-outline-danger" %>
<%= link_to 'Back', friends_path, class:"btn btn-dark" %>
</div>







