
<% @users.each do |u| %>
		<div>
		<%= u.name %>
		<%= u.email %>
			<%= form_for :friend, url: friends_path, method: :post do |form| %>
			<%= hidden_field_tag :godzilla2_id, u.id %>
					<%= form.submit "Add friend", class: "btn btn-outline-dark" %>
      <% end %>
		</div>
	<% end %>



