<table class="table table-striped table-bordered table-hover">
  <thead class="table-dark">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Author</th>
  </tr>
  </thead>

  <tbody>
  <% @users.each do |u| %>
    <tr>
      <td><%= u.firstname %> <%= u.lastname %></td>
      <td><%= link_to u.email %></td>
      <td><%= form_for :friend, url: friends_path, method: :post do |form| %>
			    <%= hidden_field_tag :friend_id, u.id %>
          <%= form.submit "Add friend", class: "btn btn-outline-dark" %></td>
          <% end %>
	<% end %>
    </tr>
  </tbody>
</table>

<%= paginate @users %>
