
<div class="jumbotron jumbotron-fluid">
  <div class="container py-4 bg-light">
  <h1 class="display-4"> <%= @homework.title %></h1>
 <p class="lead"> Text: <%= @homework.text %> </p>
 <!--  <hr class="my-4"> -->
   <p class="lead"> Author: <%= @homework.author %> </p>
  <hr class="my-4">


<%= link_to 'Edit', edit_homework_path(@homework), class:"btn btn-secondary" %> 
<br>
<br>
<%= link_to 'Back', homeworks_path, class:"btn btn-dark" %>
