

<table class="table table-striped">


    <thead>
    <tr>
      <th scope="col"><%= "Name" %></th>
      <th scope="col"><%= "Text" %></th>
      <th scope="col"><%= "Author" %></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <% @posts.each do |p| %>
      <td><%= link_to p.title, p %></td>
      <td><%= p.body %></td>
       <td> <% if p.user.nil? %>
          <%= "author delete his page" %>
          <% else %>
        <%= p.user.firstname + " " + p.user.lastname %>
          <% end %>
       </td>
    </tr>

    <% end %>
    </tbody>
  </table>


<%= paginate @posts %>
