<table class="table table-striped">

    <thead>
    <tr>
      <th scope="col"><%= "Name" %></th>
      <th scope="col"><%= "Text" %></th>
      <th scope="col"><%= "Author" %></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <% @posts.each do |p| %>
      <td><%= link_to p.title, p %></td>
      <td><%= p.body %></td>
      <td><%= p.author %></td>
    </tr>
    <% end %>
    </tbody>
  </table>


