<h1>MY Posts</h1>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col"><%= "Name" %></th>
    <th scope="col"><%= "Text" %></th>
    <th scope="col"><%= "Author" %></th>
    <th colspan="5"></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <% @posts.each do |p| %>
      <td><%= p.title%></td>
      <td><%= p.body %></td>
      <td><%= p.user.firstname %></td>
<td><%= link_to "Edit post", edit_post_path(p), class:"btn btn-secondary" %>
<%= link_to "Delete post", post_path(p),  data: { method: :delete, confirm: "Are you sure to delete post?" }, class:"btn btn-danger" %></td>
    </tr>
<% end %>
  </tbody>
  </table>
<br>
<%= link_to "New post", new_post_path, class:"btn btn-dark" %>



